<app-toolbar [title]="(label$ | async)?.title ?? ''"></app-toolbar>
<div class="p-2 md:p-8 gap-4 flex flex-col">
  <ng-container *ngIf="label$ | async as label">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ label.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ label.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="showExercisesForLabel(label)">
          Show Exercises
        </button>
        <button mat-raised-button color="primary" (click)="study()">
          Study
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Child Labels</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="childLabels$ | async as childLabels">
          <ng-container *ngFor="let label of childLabels">
            <button mat-button (click)="onSubLabelClicked(label)">
              {{ label.title }}
            </button>
          </ng-container>
        </ng-container>
      </mat-card-content>
    </mat-card>

    <app-label-form [label]="label"></app-label-form>
  </ng-container>
</div>
