<app-toolbar title="Designer" [showUploadButton]="true"></app-toolbar>
<cw-shoelace-context>
  <div class="grid grid-cols-4">
    <div class="row-span-3 p-2">
      <sl-input
        class="p-2"
        placeholder="Search..."
        size="small"
        (sl-input)="onInputChange($event)"
      >
        <sl-icon name="search" slot="prefix"></sl-icon>
      </sl-input>
      <div class="p-2">
        <div class="text-lg flex items-baseline gap-2">
          <div>Labels</div>
          <button
            class="bg-blue-100 rounded-full w-5 h-5 flex items-center justify-center hover:bg-blue-200"
            (click)="createLabel()"
          >
            <i class="fa-plus not-italic text-blue-800"></i>
          </button>
        </div>
        <div class="ml-4">
          <app-file-button
            *ngFor="let label of labels$ | async"
            [title]="label.title"
            [highlighted]="label.id === (selection$ | async)?.label?.id"
            (clicked)="selectLabel(label)"
          ></app-file-button>
        </div>
      </div>
      <div class="p-2">
        <div class="text-lg flex items-baseline gap-2">
          <div>Exercises</div>
          <button
            class="bg-blue-100 rounded-full w-5 h-5 flex items-center justify-center hover:bg-blue-200"
            (click)="createExercise()"
          >
            <i class="fa-plus not-italic text-blue-800"></i>
          </button>
        </div>
        <div class="ml-4">
          <app-file-button
            *ngFor="let exercise of exercises$ | async"
            [title]="exercise.title"
            [highlighted]="exercise.id === (selection$ | async)?.exercise?.id"
            (clicked)="selectExercise(exercise)"
          ></app-file-button>
        </div>
      </div>
    </div>
    <div class="row-span-3 col-span-2 p-4">
      <ng-container *ngIf="selection$ | async as selection">
        <app-exercise-preview
          *ngIf="selection.exercise as exercise"
          [exercise]="exercise"
          [labels]="(labelsOfSelectedExercise$ | async) ?? []"
          (labelClicked)="selectLabel($event)"
        ></app-exercise-preview>
        <app-label-preview
          *ngIf="selection.label as label"
          [label]="label"
          [subLabels]="(subLabelsOfSelectedLabel$ | async) ?? []"
          (labelClicked)="selectLabel($event)"
        ></app-label-preview>
      </ng-container>
    </div>
    <div class="row-span-3 p-4">
      <ng-container *ngIf="recentSelections$ | async as recentSelections">
        <ng-container *ngFor="let recentSelection of recentSelections">
          <ng-container *ngIf="recentSelection.exercise as exercise">
            <app-file-button
              [title]="exercise.title"
              [highlighted]="exercise.id === (selection$ | async)?.exercise?.id"
              (clicked)="selectExercise(exercise)"
            ></app-file-button>
          </ng-container>
          <ng-container *ngIf="recentSelection.label as label">
            <app-file-button
              [title]="label.title"
              [highlighted]="label.id === (selection$ | async)?.label?.id"
              (clicked)="selectLabel(label)"
            ></app-file-button>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</cw-shoelace-context>
