<ion-header>
  <app-toolbar
    [title]="(assetAttribution$ | async)?.title ?? 'Asset Detail'"
  ></app-toolbar>
</ion-header>
<ion-content>
  <div>
    <img
      *ngIf="assetId$ | async | localAssetUrl | async as url"
      [src]="url"
      class="h-full w-full max-h-64 bg-neutral-100 object-contain"
    />
    <div *ngIf="assetAttribution$ | async as assetAttribution">
      <div class="py-3 px-2">
        <div class="text-neutral-500 text-sm">Author</div>
        <div class="text-lg">
          <ng-container *ngIf="assetAttribution.author">{{
            assetAttribution.author
          }}</ng-container
          ><ng-container *ngIf="!assetAttribution.author">unknown</ng-container>
        </div>
      </div>
      <div class="py-3 px-2">
        <div class="text-neutral-500 text-sm">Source</div>
        <a class="text-lg" [href]="assetAttribution.source" target="_blank"
          >{{ assetAttribution.source
          }}<i class="fa-solid fa-arrow-up-right-from-square ml-1 text-sm"></i
        ></a>
      </div>
      <div class="py-3 px-2">
        <div class="text-neutral-500 text-sm">License</div>
        <div class="text-lg">{{ assetAttribution.license }}</div>
      </div>
    </div>
  </div>
</ion-content>
