<app-toolbar title="Assets"></app-toolbar>
<div class="px-2 md:px-8">
  <ng-container *ngIf="assetService.assets$ | async as assets">
    <div
      class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 gap-x-4 gap-y-2 my-8"
    >
      <button
        *ngFor="let asset of assets"
        class="bg-neutral-100 rounded-lg overflow-hidden hover:bg-neutral-200 block"
        (click)="onAssetClicked(asset)"
      >
        <img
          *ngIf="asset.id | localAssetUrl | async as url"
          [src]="url"
          class="h-full w-full max-h-64 object-contain"
        />
      </button>
    </div>
  </ng-container>
</div>
