<mat-card>
  <mat-card-header>
    <mat-card-title>{{ exercise.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="py-2 flex justify-between gap-4">
      <app-copy-text-button [text]="exercise.id"></app-copy-text-button>
      <button class="text-blue-800 hover:underline" (click)="onDuplicate()">
        <i class="fa-solid fa-clone"></i>
        duplicate
      </button>
    </div>
    <div class="py-2">
      <div class="text-sm text-neutral-400">Labels</div>
      <div>
        <button
          *ngFor="let label of labels"
          class="block"
          (click)="onLabelClicked(label)"
        >
          {{ label.title }}
        </button>
      </div>
    </div>
    <hr class="my-4" />
    <app-exercise [exerciseContent]="exercise.content"></app-exercise>
  </mat-card-content>
</mat-card>
