<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="goBack()">
      <ion-icon name="arrow-back-outline" slot="icon-only" />
    </ion-button>
  </ion-buttons>

  <ion-title>{{ title }}</ion-title>

  <ion-buttons slot="end">
    <ion-button *ngIf="additionalActions?.length" id="click-trigger" color="">
      <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-popover
      *ngIf="additionalActions?.length"
      [dismissOnSelect]="true"
      trigger="click-trigger"
      triggerAction="click"
    >
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item
              *ngFor="let action of additionalActions"
              [button]="true"
              (click)="action.action()"
            >
              <ion-icon slot="start" [name]="action.icon"></ion-icon>
              <ion-label>{{ action.label }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-buttons>
</ion-toolbar>
