<div
  class="block w-full rounded-lg border-neutral-200 border-2 overflow-hidden"
>
  <div class="w-full h-20 bg-neutral-200">
    <img
      *ngIf="label.localImageId | localAssetUrl | async as url"
      [src]="url"
      class="h-full w-full object-contain"
    />
  </div>
  <div
    class="text-lg px-3 py-2 text-center overflow-hidden whitespace-nowrap overflow-ellipsis"
  >
    {{ label.title }}
  </div>
  <div class="px-3 py-2">
    <button class="text-blue-800 hover:underline">{{ label.id }}</button>
  </div>
  <div class="px-3 py-2">
    <div class="text-neutral-400 text-sm">Sub Labels</div>
    <div>
      <button
        *ngFor="let label of subLabels"
        class="block"
        (click)="onLabelClicked(label)"
      >
        {{ label.title }}
      </button>
    </div>
  </div>
</div>
