<button
  class="group block w-full overflow-hidden rounded-lg border-2 border-solid border-neutral-200"
  (click)="onClicked($event)"
>
  <div class="h-20 w-full bg-neutral-200">
    <img
      *ngIf="label.localImageId | localAssetUrl | async as url"
      [src]="url"
      class="h-full w-full object-contain"
    />
  </div>
  <div
    class="overflow-hidden overflow-ellipsis whitespace-nowrap px-3 py-2 text-center text-lg group-hover:bg-neutral-50"
  >
    {{ label.title }}
  </div>
</button>
