<app-toolbar title="Exercises"></app-toolbar>
<app-padded-layout>
  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input
      matInput
      placeholder="Search Exercises..."
      [formControl]="searchControl"
    />
  </mat-form-field>
  <app-label-autocomplete
    [formControl]="labelIdControl"
  ></app-label-autocomplete>

  <div class="grid sm:grid-cols-2">
    <ng-container *ngIf="exercises$ | async as exercises">
      <ng-container *ngFor="let exercise of exercises">
        <app-exercise-preview-small-clickable
          [exercise]="exercise"
          (click)="navigateToExercise(exercise)"
        ></app-exercise-preview-small-clickable>
      </ng-container>
    </ng-container>
  </div>
</app-padded-layout>
