<html>
<head>
  <title>New Label - {{labelId}}</title>
  <meta
    name="description"
    content=""
  />
  <meta name="cw:image" content="" />
</head>
<body>
<cw-label-implication
  cw-implicated-label-id=""
>
</cw-label-implication>
</body>
</html>
