<ion-header>
  <app-toolbar title="Labels"></app-toolbar>
</ion-header>
<ion-content>
  <div class="px-2 md:px-8">
    <ng-container *ngIf="labels$ | async as labels">
      <div
        class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 gap-x-4 gap-y-2 my-8"
      >
        <ng-container *ngFor="let label of labels">
          <app-label
            [label]="label"
            (clicked)="onLabelClicked(label)"
          ></app-label>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ion-content>
