<ion-header>
  <app-toolbar
    [title]="(label$ | async)?.title ?? ''"
    [additionalActions]="additionalToolbarActions"
  ></app-toolbar>
</ion-header>

<ion-content>
  <app-padded-layout
    *ngIf="
      exerciseSituation$ | async as exerciseSituation;
      else templateNoExercise
    "
  >
    <ng-container *ngIf="(showExerciseDetails$ | async) === true">
      <ion-button
        fill="clear"
        class="my-8"
        (click)="showExerciseDetails$.next(false)"
      >
        back to studying
      </ion-button>
      <app-exercise-preview
        *ngIf="labelsOfExercise$ | async as labels"
        [exercise]="exerciseSituation.exercise"
        [labels]="labels"
      ></app-exercise-preview>
    </ng-container>
    <ng-container *ngIf="(showExerciseDetails$ | async) === false">
      <div class="flex justify-center mb-4">
        <app-study-progress
          [studyProgress]="studyProgress$ | async"
        ></app-study-progress>
      </div>
      <app-exercise-situation
        [exerciseSituation]="exerciseSituation"
        (exerciseResult)="onExerciseResult($event)"
        (nextExerciseRequested)="onNextExerciseRequested()"
      ></app-exercise-situation>
    </ng-container>
  </app-padded-layout>

  <ng-template #templateNoExercise>
    <div>There is no exercise</div>
  </ng-template>
</ion-content>
