<app-toolbar [title]="(label$ | async)?.title ?? ''"></app-toolbar>
<app-padded-layout
  *ngIf="
    exerciseSituation$ | async as exerciseSituation;
    else templateNoExercise
  "
>
  <div class="flex justify-center mb-4">
    <app-study-progress
      [studyProgress]="studyProgress$ | async"
    ></app-study-progress>
  </div>

  <app-exercise-situation
    [exerciseSituation]="exerciseSituation"
    (exerciseResult)="onExerciseResult($event)"
    (nextExerciseRequested)="onNextExerciseRequested()"
  ></app-exercise-situation>
</app-padded-layout>

<ng-template #templateNoExercise>
  <div>There is no exercise</div>
</ng-template>
