<app-toolbar title="Settings"></app-toolbar>
<div class="p-8">
  <form (ngSubmit)="onSubmit()">
    <div>
      <mat-checkbox
        [formControl]="immediatelyJumpToNextExerciseAfterGivingFeedbackControl"
        >Immediately jump to next exercise after giving feedback</mat-checkbox
      >
    </div>
    <div>
      <mat-form-field>
        <mat-label>Cooldown Formula</mat-label>
        <input matInput [formControl]="cooldownFormulaControl" />
      </mat-form-field>
      <app-cooldown-preview
        [formula]="cooldownFormulaControl.value ?? ''"
      ></app-cooldown-preview>
    </div>
    <div>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
